
<!-- Just a simple html file to show the apartments -->
<section style="display: flex; margin-top: 70px;">
  <img src="../assets/portichetto.jpg" class="imageDimension">

  <p style="font-size: 17px; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
    <span style="font-family: Anthony Hunters; font-size: 45px;">Il portichetto</span>
    <br><br>
    Questo appartamento non è situato nella stessa struttura degli altri due ma in quella adiacente.
    Il primo locale è composto dal salotto open-space con la cucina e camino a legna chiudibile
    dotato di bocchette
    per riscaldare l'ambiente. Inolte sono presenti due camere da letto matrimoniali e un bagno con vasca.
    All'occorrenza il divano presente nel salotto può diventare un comodo divano-letto.<br><br>
    Dimensioni appartamento : 85 metri quadrati
    <br><br>

    <button data-fancybox="default-gallery" data-src="../assets/portichetto.jpg" class="button">Vedi in
      galleria
    </button>

  </p>
</section>

<div style="display: flex; margin-top: 150px;">
  <p style="font-size: 17px; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
    <span style="font-family: Anthony Hunters; font-size: 45px;">La stalla</span>
    <br><br>
    Unico dei tre appartamenti ad essere situato al piano terra, per questo è quello più facilmente accessibile.
    Il primo locale è composto da salotto open-space con la cucina e camino a legna. Inoltre sono presenti due
    camere da letto,
    di cui una con letto matrimoniale, una con due letti singoli e un bagno costruito ad-hoc per essere confortevole
    anche per persone con difficoltà motorie.
    All'occorrenza il divano presente nel salotto può diventare un comodo divano-letto.<br><br>
    Dimensioni appartamento : 50 metri quadrati
    <br><br>
    <button data-fancybox="default-gallery" data-src="../assets/stalla.jpg" class="button">Vedi in
      galleria
    </button>
  </p>
  <img class="imageDimension" src="../assets/stalla.jpg" style="margin-right: 150px; max-width: 700px;">

</div>

<div style="display: flex; margin-top: 150px;">
  <img src="../assets/portico.jpg" class="imageDimension">

  <p style="font-size: 17px; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
    <span style="font-family: Anthony Hunters; font-size: 45px;">Il portico</span>
    <br><br>
    Questo appartamento, situato sopra alla Stalla, nel tempo ha riscosso un grande successo
    grazie al portico con vista sulla piscina. Il primo locale è composto da salotto open-space con la cucina
    e camino a legna. Inoltre sono presenti due camere da letto, di cui una con letto matrimoniale e l'altra con
    letto a castello,
    e un bagno con cabina-doccia.<br><br>
    Dimensioni appartamento : 40 metri quadrati
    <br><br>
    <button data-fancybox="default-gallery" data-src="../assets/portico.jpg" class="button">Vedi in
      galleria
    </button>
  </p>

</div>

<div style="font-size: 17px; margin-top: 100px; margin-left: 100px; margin-right: 100px;">
  <span style="font-family: Anthony Hunters; font-size: 45px;">Ogni appartamento dispone di:</span><br><br>
  <ul>
    <li style="margin: 0 0 5px 0;">WI-FI fino a 15mbps</li>
    <li style="margin: 0 0 5px 0;">TV</li>
    <li style="margin: 0 0 5px 0;">Legname per il camino</li>
    <li style="margin: 0 0 5px 0;">barbeque condiviso</li>
    <li style="margin: 0 0 5px 0;">spazio riservato di fronte ad esso</li>
    <li style="margin: 0 0 5px 0;">spazio riservato in piscina</li>
    <li style="margin: 0 0 5px 0;">cambio biancheria su richiesta</li>
    <li style="margin: 0 0 5px 0;">posti auto non coperti</li>
  </ul>

</div>