<img src="../assets/immagineui.jpg" alt="facing_image" class="face">
<!-- Just a fast page location link -->
<nav class="navbarui">
    <button onclick="window.location.href='/admin/#reservations'" mat-button class="menubuttons"
        style="margin-left: 50px;">Prenotazioni</button>
    <button onclick="window.location.href='/admin/#users'" mat-button class="menubuttons">Utenti</button>
</nav>
<!-- I've printed here just the most important info for the structure management -->
<div id="main" class="main">
    <div id="reservations" style="display: inline-block; "></div>
    <div style="text-align: center;">
        <img src="../assets/divider.png" style="height: 200px;">
    </div>
    <div id="users" style="display: inline-block;    margin-bottom: 150px;
    "></div>
</div>